html, body {
  font-size: 16px;
  min-width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

ol, ul {
  list-style-position: inside;
}

h1 {
  font-size: 130%;
}

h2 {
  font-size: 125%;
}

h3 {
  font-size: 120%;
}

h4 {
  font-size: 115%;
}

h5 {
  font-size: 110%;
}

h6 {
  font-size: 105%;
}
