div.contain-emoji-box {
  height: 4em;
  width: 4em;
}

div.copy-to-clipboard {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-top: auto;
}

div.emoji-box {
  position: relative;
  height: 4em;
}

div.emoji-box::before {
  font-size: 4em;
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
