/*
  https://codepen.io/jonathansampson/pen/AZbXyj
*/

.container {
  width: 100%;
  height: 100%;
  margin: 1em auto;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.marquee {
  /* top: 6em; */
  /* height: 40em; */
  position: relative;
  box-sizing: border-box;
  animation: marquee 30s linear infinite;
}

.marquee p {
  padding-bottom: 1em;
  padding-right: 1em;
}

/* Make it move! */
/* @keyframes marquee {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
} */
